
<nav>
	<form class = "login" action = "loginUser" method = "POST">
	Username: <input id = "username" type = "text">
	<input type = "submit" action = "submit" value = "Login">
	<div class="currentUser"></div>
</form>

</nav>

<div id = "twoteslist"> 
	<h2>Twotes</h2>
	<form id = "addingTwote" action = "/addingTwote" method = "POST">
		<input id = "twoteInput"  type = "text">
		<input type = "submit" action = "submit" value = "Add Twote">
	</form>

	{{#each twote}}
	<div class = "twotes" name = "{{authorId}}">
		{{message}} <br>
		- {{author}}
		<button id = {{authorId}} class = removeTwote> Delete </button>
	</div>
	{{/each}}
</div>


<div id = "authorsList">
	<h2>Users </h2>

	{{#each twoteUser}}
		<div class = "author" id = "{{this._id}}">
			{{userName}}
		</div> <br>
	{{/each}}

</div>